<h1>Live Tracking</h1>

<table>
	<tbody>
		<tr>
			<th>Latitude</th>
			<td><span id="lat">0</span> </td>
		</tr>

		<tr>
			<th>Longitude</th>
			<td><span id="lng">0</span> </td>
		</tr>

	</tbody>
</table>

<%= button_tag("Location", :onclick => "myLocation()") %>